.info {
    margin: 0 auto; 
    margin-bottom: 20px;
    strong{
      color: var(--main-brand-color);
    }
    .assets {
      position: relative;
      display: flex;
      justify-content: center;
      video {
        position: absolute;
        z-index: 1;
      }
    }
  }

@media screen and (width > 768px) {
    .info {
      display: flex;
      gap: 2em;
      align-items: center;
      .texto{
        width:55%;
      }
    }
  }
  
