.info {
    margin: 0 auto; 
    margin-bottom: 20px;

  }


@media screen and (width > 768px) {
    .info {
      display: flex;
      gap: 2em;
      align-items: center;
      .texto{
        width:55%;
      }
    }
  }
  
