.info {
    margin: 0 auto; 
    margin-bottom: 20px;
    .assets {
      position: relative;
      display: flex;
      justify-content: center;
      video {
        position: absolute;
        z-index: 1;
      }

    }
  }
  strong{
    color: var(--main-brand-color-dark);
  }
  .color-brand{
    font-size: 0.8rem;
    color: var(--main-brand-color);
  }
  h2{
    line-height: 1.2em;
  }

@media screen and (width > 768px) {
    .info {
      display: flex;
      gap: 2em;
      align-items: center;
      .texto{
        width:55%;
      }
    }
  }
  
