@font-face {
  font-family: 'Mango';
  src: url(../fonts/Mango.ttf);
}

.banner {
    height: 55vh;
    align-content: center;
    position: relative;
    h1{
      padding: 0;
      font-size: 2.4rem;
      font-weight: 300;
      margin: 0;
    }
    span{
      font-size: 5.5rem;
      font-weight: 100;
      font-family: 'Mango';
    }
    p{
      margin: 0;
      font-size: 1rem;
      font-weight: 700;
    }
    .bold {
      font-weight: 700;
      padding: 0;
      margin: 0;
      font-size: 1rem;
      letter-spacing: 2px;
    }
    .content {
      text-align: center;
      z-index: 1;
      position: relative;
      h1{
        line-height: 1em;
      }
    }
    .image {
      background-image: url('../assets/banner-portfolio-johanna-diaz-768x768-2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0.3;
    }
  }
  
@media screen and (width > 425px) {
  .banner{
    height: 75vh;
    .image{
      background-image: url('../assets/banner-portfolio-johanna-diaz-1366x768-2.jpg');
    }
  }
}

@media screen and (width > 1024px) {
  .banner{
    height: 75vh;
    .image{
      background-image: url('../assets/banner-portfolio-johanna-diaz-1920x1080.jpg');
    }
  }
}
