/* Button */
.btn {
  color: var(--main-text-color);
  background-color: var(--main-brand-color);
  text-decoration: none;
  padding: 0.7rem;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid var(--main-brand-color);
  width: 100px;
}
.wide {
  width: 200px;
}
.buttons{
  text-align: center;
}
@media screen and (hover: hover) {
  .pointer {
    cursor: pointer;
  }
  .btn {
    font-weight: 500;
    cursor: pointer;
    width: 100px;
    &:hover {
      background-color: var(--main-brand-color-light);
    }
  }
}

/* form classes */
.form_element {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  label {
    margin-bottom: 0.5rem;
  }
  .input {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background: var(--input-bg-color);
    color: var(--main-text-color);
  }
  input[type="file"] {
    display: none;
  }
}
