footer{
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
}
.container-footer{
  margin: auto;
}
.box-footer{
  margin: 10px;
  width: 100%;
  text-align: center;
}
.box-footer a img{
    width: 25px;
}
.box-copyright{
    text-align: center;
    font-size: 0.8rem;
    p{
      margin-top: 10px;
      color: var(--main-text-color);
    }
  }
.redes-sociales{
  a{
    padding: 0 10px;
  }
}

@media screen and (width > 768px) {
  .footer {
    background:  var(--main-brand-color-dark);
    p{
      color: var(--main-brand-color);
    }
  }
  .box-footer a img{
    width: 30px;
 }
 .redes-sociales{
  a{
    padding: 10px;
  }
  }
  .box-footer a img{
    filter: invert(95%) sepia(12%) saturate(1304%) hue-rotate(297deg) brightness(100%) contrast(98%);
  }
  .box-copyright{
    font-size: 1rem;
  }
}

