footer{
    width: 100%;
    padding: 15px 10px;
    background-color: #fff;
}
.logo-footer{
  margin: 0;
  width: 100%;
  min-height: 20px;
  background: url(../assets/johanna-diaz-red.png) center center no-repeat;
  background-size: contain;
}
.container-footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
.box-footer{
  padding: 10px;
  width: 80%;
  max-width: 768px;
}
.box-footer a{
margin-top: 10px;
color: var(--main-text-color);
font-weight: 600;
}
.box-footer a:hover{
opacity: 0.8;
}
.box-footer a .fab{
    font-size: 20px;
}
.box-copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    p{
      margin-top: 10px;
      color: var(--main-text-color);
    }
    hr{
      border: none;
      height: 1px;
      width: 90%;
      background-color: var(--main-text-color);
    }
  }

@media screen and (width > 768px) {
  .footer {
    background:  var(--main-brand-color-dark);
  }
  .logo-footer{
    background: url(../assets/johanna-diaz-rose.png) center center no-repeat;
    background-size: contain;
    min-height: 30px;
  }
  .box-copyright{
      hr{
        background-color: var(--bg-color);
    }
  }
}

