.galery {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2.5em;
    max-width: 800px;
    img {
      width: 100%;
    }
    figcaption {
        text-align: center;
    }
    .list {
      list-style: none;
      margin: 0;
      padding-left:0;
      display: grid;
      /* auto-fill | auto-fit y minmax()*/
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      gap: 20px;
      figure {
        margin: 0;
      }
      figcaption{
        font-weight: bold;
      }
    }
  }
  .galery-bg{
    background: var(--bg-color);
  }


  @media screen and (width > 425) {
    .galery .list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (width > 768px) {
    .galery .list {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
  }

  