.galery {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 800px;
    img {
      width: 100%;
    }
    figcaption {
        text-align: center;
    }
    .list {
      list-style: none;
      margin: 0;
      padding: 0 20px;
      padding-left:0;
      display: grid;
      /* auto-fill | auto-fit y minmax()*/
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      gap: 20px;
      figure {
        margin: 0;
      }
    }
  }
 /*
  .text-loader{
    content:"";
    font-weight: 600;
    font-size: 1rem;
    color: var(--main-brand-color-dark);
    animation-name: textloader;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  @keyframes textloader{
    0%{content: "L";}
    10%{content: "LO";}
    20%{content: "LOA";}
    30%{content: "LOAD";}
    100%{content: "LOADER";}

  }
 */
  .galery-bg{
    background: var(--bg-color);
  }

  /*
  @media screen and (width > 768px) {
    .shows .list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  */
  /*
  .shows img {}
  */
  
  