.container {
  background-image: url('../assets/banner-portfolio-johanna-diaz-1366x768.jpg');
}

.card {
  background-color: var(--main-brand-color);
  border-radius: 4px;
  width: 100%;
  max-width: 420px;
  margin: 2em auto;
  padding: 3rem 2rem;
}
